/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table { border-collapse: collapse; border-spacing: 0; }
hr { display: none; }

/* Style 설정 */

.blind {
	position: absolute;
	left: 0;
	top: -9999em;
}

#wrap { position: relative; max-width: 1200px; margin: 0 auto; }
#header { max-width: 1200px; position: fixed; background-color: black; width: 100%; z-index: 200; height: 35px; line-height: 35px; }
#header nav {}
#header nav .nav_bar { display: flex; flex-wrap: nowrap; background-color: black; }
#header nav .nav_bar li { width: 90px;}
#header .nav_bar li a {
	display: block;
	text-decoration: none;
	background-color: black;
	color: darkgrey;
	text-align: center;
}

@media screen and (max-width:605px) and (min-width:400px) {
	#header nav .nav_bar li {
		font-size: 0.2em;
	}
}

@media screen and (max-width:399px){
	#header nav .nav_bar li a {
		font-size: 0.05em;
	}
}

#header .nav_bar li a:hover { background-color: rgb(131, 120, 120); }
#header .nav_bar li .dropdown:hover { }
#header .nav_bar li .dropmenu { position: absolute; background-color: black; width: 15%; }
#header .nav_bar li .menus { width: 100%; }
#header .nav_bar li .menus:hover { background-color: grey; }
#header .nav_bar .search { margin-left: auto; }
.title { font-size: 36px; }
.skip-nav a { position: absolute; display: block; z-index: 9999; width: 100%; height: 50px; line-height: 50px; font-size: 1.2em; background-color: blue; text-align: center; top:-9999em; }
.skip-nav a:focus { top:0; }
.visual { position: relative; padding-top: 30px; }
.visual #headerImage { width: 100%; }

.visual .bar {
	display: block;
	position: absolute;
	top:90%;
	left:0;
	z-index: 100;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1em;
	width: 30%;
	height: 5%;
}

.visual .bar:hover {
	background-color:rgb(206, 221, 206);
}

#team, #Work, #Pricing, #ContactUs, #footer { position: relative; margin: 0 auto; text-align: center; padding: 50px 0 0 0;  }
#team .desc, #Work .desc, #Pricing .desc { padding: 30px;}
#team .desc {padding-bottom: 70px;}
.member { height: 35vh; display: flex; background: url(/img/ocean.jpg); justify-content: space-around; align-items: center; }
.mem { }
.mem img { width: 100%; height: 200px; border-radius: 50%;}
 
@media screen and (max-width:600px) {
	.member {
		display: block;
		height: 100%;
	}
	.mem img {
		width: 50%;
		padding: 30px;
	}
} 


.Work__gallery { height: 45vh; display: flex; flex-wrap: nowrap; justify-content: space-around; margin: 30px 0;  }
.Work_gallery_artwork { background-color: grey; padding: 5px; width: 250px; height: auto; }
.Work_gallery_artwork img { width: 100%; height: 200px; }

@media screen and (max-width:600px) {
	.Work__gallery {
		display: block;
		margin: 0 auto;
		height: 100%;
	}
	.Work_gallery_artwork {
		width: 100%;
	}
}

#Pricing { position: relative;}
#Pricing .inner { display: flex; justify-content: center; }
#Pricing .Pricing_box { width: 33%; line-height: 50px;}
#Pricing .Pricing_title { background-color: grey; }
#Pricing dd { margin-left: 0;}
#Pricing dt, dd { border: 1px solid black; }

#ContactUs .inner { display: flex; margin: 30px; align-items: stretch; height: 30vh;}
#ContactUs .ContactUs_info { background-color: grey; width: 30%; height: 100%; border: 1px solid black; }
#ContactUs .ContactUs_info .ContacUs_info_title { font-size: 24px; padding: 5px;}
#ContactUs .ContactUs_info p { margin: 10px; height: 15%; line-height: 20px; }
#ContactUs .ContactUs_Userinfo { background-color: darkgreen; width: 70%; height: 100%; border: 1px solid black;}
#ContactUs .ContactUs_Userinfo p, span { text-align: left; margin: 10px;}
#ContactUs .ContactUs_Userinfo span { float: left; }
#ContactUs .ContactUs_Userinfo .button { width: 95%; }
#ContactUs .ContactUs_Userinfo .submit { float: right;}

@media screen and (max-width:630px) {
	.ContactUs_Userinfo {
		height: 100%;
	}
	.ContactUs_info {
		height: 100%;
		font-size: 10px;
	}
}

#footer img { width: 100%; }
#footer .footer_icons { display: inline-block; background-color: lime; width: 30px; height: 30px; line-height: 30px;}
#footer .footer_title { font-size: 24px; padding: 20px;}
#footer .footer_top { display:block; float: right; background-color: grey; width: 30px; height: 30px; line-height: 30px; border-radius: 50%;}
#footer .footer_top:hover {}