.flex-container {
    /* display: flex; */
    /* width: 600px; */
    /* justify-content: space-between; */
    /* margin: 0 auto; */
}

.flex-item, .grid-item {
    background-color: yellowgreen;
    border: 1px solid black;
    color: honeydew;
}
