ul, li {
    list-style: none;
}

.flex__container { 
    display: flex;
    flex-flow: row;
}

.nav__menu__logo img {
    width: 30px;
    height: 30px;
    margin-right: auto;
}

.nav__menu__container {
    width: 100px;
    background-color: #f8f8f8c4;
}

.blind {
    display: none;
}

.flex__items:hover{

}

