<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board_layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header id="layout-content">header</header>
    <nav id="layout-content">nav</nav>
    <div class="container" id="layout-content">
        <div class="content" id="layout-content">content</div>
    </div>
    <aside id="layout-content">aside</aside>
    <nav id="layout-content">nav</nav>
</body>
</html>