<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .visible, .hidden, .scroll, .auto {
        width: 200px;
        height: 200px;
        background-color: #FFD9FA;
    } 

    .visible {
        overflow: visible;
    }

    .hidden {
        overflow: hidden;
    }

    .scroll {
        overflow: scroll;
    }

    .auto {
        overflow: auto;
    }
</style>
<body>
    <div class="visible">
        1. overflow : visible<br>
        <img src="image/soyf.jfif" alt="soyf logo">
    </div>
    <div class="hidden">
        2. overflow : hidden<br>
        <img src="image/soyf.jfif" alt="soyf logo">
    </div>
    <div class="scroll">
        3. overflow : scroll<br>
        <img src="image/soyf.jfif" alt="soyf logo">
    </div>
    <div class="auto">
        4. overflow : auto<br>
        <img src="image/soyf.jfif" alt="soyf logo">
    </div>
</body>
</html>