/* Global Setting */

:root {
    
    /* Color */

    --color-white: #ffffff;
    --color-yellow: #ffcd05;
    --color-orange: #ffce0b;
    --color-beige: #fff9d5;
    --color-light-beige: #fffcea;
    --color-light-grey: #f7f6f6;
    --color-black: #000000;

    /* Font size */
    --font-large: 24px;
    --font-medium: 20px;
    --font-regular: 16px;
    --font-small: 12px;
    --font-micro: 10px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;

    /* Animation */
    --animation-duration: 300ms;

}

/* Typography */

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

a { text-decoration: none; color: var(--color-black); }

/* Style 설정 */

.blind {
	position: absolute;
	left: 0;
	top: -9999em;
}

.Skip-nav__content a { position:absolute; top:-9999em; left: 0; text-align: center; display: block; width: 100%; height: 50px; background-color: blue; line-height: 50px;} 
.Skip-nav__content a:focus { top:0; }
#wrap { position: relative; max-width: 980px; margin: 0 auto; text-align: center; }
#nav-bar { position: absolute; width: 100%; display: flex; justify-content: space-around; background-color: var(--color-beige); z-index: 100;}
.nav-bar__list { display: flex; justify-content: flex-end; }
.nav-bar__logo img { width: 110px; height: 65px; }
.nav-bar__list { flex-grow: 1; }
.nav-bar__list__btn { display: inline; }
.nav-bar__list__btn a { line-height: 65px; padding: 9px;}

#container {}
#content {}
#main { position: relative; background-color: var(--color-beige); height: 530px; padding: 160px 30px 160px 30px; }
/* .login { float: left; padding-left: 20px;} */
.main__login { position: absolute; display: flex; margin: 0 30px; top: 65px; left: 0; background-color: #ffffff;}

.visual { position: relative; }
.visual__letters__letter1 { position: absolute; left: 0; }
.visual__letters__letter2 { position: absolute; left: 0; margin-top: 62px; }
.visual__anchor { position: absolute; left: 0; margin-top: 165px; }
/* .visual__box { position: relative; } */
.visual__image { position: absolute; right: 0; bottom: 0; width: 475px; height: 480px;}
.video__box { position: absolute; right: 0; top: 420px; width: 100px; height: 98px; background-color: var(--color-light-beige); opacity: 40%; padding: 15px; }

#borad {}
/* .mainbar { position: absolute; width: 930px; } */
.mainbar__list { position: absolute; width: 100%; height: 80px; display: flex; justify-content: space-around; top: 500px; align-items: center; background-color: var(--color-yellow); }
.mainbar-leftbox { position: relative; display: flex; width: 30%;  text-align: center; }
/* .mainbar-left ul { flex-grow: 1; } */
.mainbar-left li { display: inline-block; width: 33%;}
.mainbar-rightbox { display: flex; width: 70%; background-color: var(--color-white);}
/* .mainbar-right ul { flex-grow: 1; } */
.board__notice-events { display: flex; padding: 100px 0 50px 0; }

.board__gallery { }
.service__container { display: flex; }
.service1 { position: relative; background: url(../img/services/liv-m-background.png); width: 310px; height: 125px; }
.service1 img { width: 30%; padding-top: 60px; }
.service2 { position: relative; background: url(../img/services/liiv-m.png); width: 310px; height: 125px; }
.service2 img { width: 50%;}
.service3 { position: relative; background: url(../img/services/KBot-sam-background.png); width: 310px; height: 125px; }
.service3 img { width: 30%; }
.finance__title { float: left; }
.consumer__title { float: left; }
.consumer__list { display: flex; }
.consumer__list li { list-style: initial; }
.consumer__list p { margin: 5px; padding: 10px; }
.consumer__list__service { width: 25%;}
.consumer__list__prohibit { width: 25%;}
.consumer__list__forbid { width: 25%;}

.consumer__protect { float: left; }
.consumer__protect ul { display: flex; }
.consumer__protect li { width: 25%; }

#application { position: relative; }
#application h1 { left: 0; margin-right: 800px; }
.applications { display: flex; justify-content: space-around;}
.applications img { border-radius: 20%;}

#footer { } 
.btm-menu dd { display: inline; } 
.btm-menu img { display: inline-block; width: 50px; height: 50px;} 
.btm-banner { display: flex; flex-direction: row; margin: 10px;}
.btm-box { margin: 10px; }
.banner1 img { height: 40px;}
.banner2 img { height: 40px;}
.banner3 img { height: 40px;}

#notice, #events { position: relative; width: 50%; } 
#notice:after { clear: both; } 
#events:after { clear: both; } 
.notice__title, .events__title { float: left; padding: 10px; } 
.notice__list p, .events__list p { padding: 4px; float: left; } 
.notice__list:after, .events__list:after { clear: both; } 

